.jumbotron {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.jumbotron .display-4 {
    color: white;
    font-weight: 500;
    font-size: 60px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.jumbotron p {
    color: white;
    font-weight: 300;
    font-size: 25px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.tombol-jumbotron {
    text-transform: uppercase;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
    color: rgb(254, 254, 254);
    font-weight: bold;
}

.tombol-jumbotron:hover{
    transition: .5s;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0,24,68);
    color: rgb(0,24,68);
}

.card {
    border: 2px solid black;
    border-radius: 15%;
}

.card img {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 20%;
    margin-top: 10px;
}

.card img:hover {
    width: 200px;
    height: 200px;
}

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
    background-color: rgb(0,24,68);
    border: 3px solid white;
    color: white;
    font-weight: bold;
}

.tombol:hover{
    transition: .5s;
    background-color: white;
    border: 3px solid rgb(0,24,68);
    color: rgb(0,24,68);
}